{% extends 'base.html' %}

{% block navbar %}
  {% include '_navbar.html' %}
{% endblock %}


{% block content %}
<h1 class="text-center diasplay-1 my-5">Quizzes</h1>
<div class="container w-50">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Created</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for quiz in user.quizzes %}
        <tr>
          <td><a href="{{ url_for('dashboard.quiz_grade', quiz_id=quiz.id) }}">{{ quiz.created_at }}</a></td>
          <td><a href="{{ url_for('dashboard.quiz_grade', quiz_id=quiz.id) }}">{{ quiz.score }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</form>

<div class="pb-5"></div>
{% endblock %}
