{% extends 'base.html' %}

{% block custom_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='grades.css') }}">
{% endblock %}

{% block navbar %}
  {% include '_navbar.html' %}
{% endblock %}


{% block content %}
  <h1 class="text-center diasplay-1 my-5">Grades</h1>
  <div id="bar-container" class="container d-flex flex-column">
    <input id="scoresList" type="hidden" value="{{ scores }}">
    <div id="bar-plot" class="container"></div>
    <small class="text-center">Attempts</small>
  </div>
  <div class="pb-5"></div>
{% endblock %}

{% block page_js %}
  <script src="{{ url_for('static', filename='js/grades.js') }}"></script>
{% endblock %}

